<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Koala Arena</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class = "left">
    </div>

    <div class = "main">

      <nav>
        <h1>Koala Arena</h1>
        <!-- <a href="www.google.com">HOME</a>
        <a href="www.google.com">ABOUT</a>
        <a href="www.google.com">PROJECTS</a>
        <a href="www.google.com">CONTACT</a> -->
      </nav>

        <div id = "Bear">
        </div>

        <button id = "bearButton"> Tank like a Bear! </button>

        <div id = 'Queenslander'>
        </div>

        <button id = "queenslanderButton"> Move like a Queenslander! </button>

        <div id = 'Phascolarctos'>
        </div>

        <button id = "phascolarctosButton"> Intelligent like a Phascolarctos! </button>

        <div id = 'Joey'>
        </div>

        <button id = "joeyButton"> Joey's get lucky! </button>

      </div>

    </div>
    <div class = "right" div>

    </div>
    <script src="./static/js/script.js"></script>
  </body>
</html>